AUTHORS.gz
ChangeLog.gz
INSTALL
Makefile
Makefile.in
Man/idjc.1
Man/idjcctrl.1
NEWS.gz
README.gz
aclocal.m4
artwork/idjc.png
autom4te.cache/*
c/.deps/
c/idjcmixer
c/*.o
c/idjcsourceclient
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
idjc
idjc.in
idjc.desktop
idjcctrl
python/*.pyc
python/config.py
python/config.py.in
install-sh
libshout/autom4te.cache/*
libshout/config.guess
libshout/config.sub
libshout/include/shout/shout.h
libshout/libtool
libshout/shout-config.in
libshout/shout-config
libshout/shout.pc
libshout/m4/libtool.m4
libshout/m4/lt*
libshout/src/.deps/*
libshout/src/.libs/*
libshout/src/avl/.deps/*
libshout/src/avl/.libs/*
libshout/src/avl/libiceavl.la
libshout/src/avl/libiceavl_la-avl.lo
libshout/src/avl/libiceavl_la-avl.o
libshout/src/httpp/.deps/*
libshout/src/httpp/.libs/*
libshout/src/httpp/libicehttpp.la
libshout/src/httpp/libicehttpp_la-httpp.lo
libshout/src/httpp/libicehttpp_la-httpp.o
libshout/src/libshout.la
libshout/src/mp3.lo
libshout/src/mp3.o
libshout/src/net/.deps/*
libshout/src/net/.libs/*
libshout/src/net/libicenet.la
libshout/src/net/libicenet_la-resolver.lo
libshout/src/net/libicenet_la-resolver.o
libshout/src/net/libicenet_la-sock.lo
libshout/src/net/libicenet_la-sock.o
libshout/src/ogg.lo
libshout/src/ogg.o
libshout/src/shout.lo
libshout/src/shout.o
libshout/src/speex.lo
libshout/src/speex.o
libshout/src/thread/.deps/*
libshout/src/thread/.libs/*
libshout/src/thread/libicethread.la
libshout/src/thread/libicethread_la-thread.lo
libshout/src/thread/libicethread_la-thread.o
libshout/src/timing/.deps/*
libshout/src/timing/.libs/*
libshout/src/timing/libicetiming.la
libshout/src/timing/libicetiming_la-timing.lo
libshout/src/timing/libicetiming_la-timing.o
libshout/src/util.lo
libshout/src/util.o
libshout/src/vorbis.lo
libshout/src/vorbis.o
libshout/stamp-h1
missing
py-compile
stamp-h1
config.h.in~
libshout/ltmain.sh
*.tar.gz
doc/*
