AUTHORS.gz
ChangeLog.gz
INSTALL
Makefile
Makefile.in
man/*.1
NEWS.gz
README.gz
aclocal.m4
artwork/idjc.png
autom4te.cache/*
c/.deps/
c/.libs/
c/idjcbe
c/*.o
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
idjc
idjc.in
idjc.desktop
idjc.desktop.in
idjcctrl
python/*.pyc
python/__init__.py
python/__init__.py.in
install-sh
libshout-idjc/autom4te.cache/*
libshout-idjc/config.guess
libshout-idjc/config.sub
libshout-idjc/include/shoutidjc/shout.h
libshout-idjc/libtool
libshout-idjc/shout-config.in
libshout-idjc/shout-config
libshout-idjc/shout-idjc.pc
libshout-idjc/m4/libtool.m4
libshout-idjc/m4/lt*
libshout-idjc/src/.deps/*
libshout-idjc/src/.libs/*
libshout-idjc/src/avl/.deps/*
libshout-idjc/src/avl/.libs/*
libshout-idjc/src/avl/libiceavl.la
libshout-idjc/src/avl/libiceavl_la-avl.lo
libshout-idjc/src/avl/libiceavl_la-avl.o
libshout-idjc/src/httpp/.deps/*
libshout-idjc/src/httpp/.libs/*
libshout-idjc/src/httpp/libicehttpp.la
libshout-idjc/src/httpp/libicehttpp_la-httpp.lo
libshout-idjc/src/httpp/libicehttpp_la-httpp.o
libshout-idjc/src/libshout-idjc.la
libshout-idjc/src/mpeg.lo
libshout-idjc/src/mpeg.o
libshout-idjc/src/webm.lo
libshout-idjc/src/webm.o
libshout-idjc/src/net/.deps/*
libshout-idjc/src/net/.libs/*
libshout-idjc/src/net/libicenet.la
libshout-idjc/src/net/libicenet_la-resolver.lo
libshout-idjc/src/net/libicenet_la-resolver.o
libshout-idjc/src/net/libicenet_la-sock.lo
libshout-idjc/src/net/libicenet_la-sock.o
libshout-idjc/src/ogg.lo
libshout-idjc/src/ogg.o
libshout-idjc/src/shout.lo
libshout-idjc/src/shout.o
libshout-idjc/src/speex.lo
libshout-idjc/src/speex.o
libshout-idjc/src/thread/.deps/*
libshout-idjc/src/thread/.libs/*
libshout-idjc/src/thread/libicethread.la
libshout-idjc/src/thread/libicethread_la-thread.lo
libshout-idjc/src/thread/libicethread_la-thread.o
libshout-idjc/src/timing/.deps/*
libshout-idjc/src/timing/.libs/*
libshout-idjc/src/timing/libicetiming.la
libshout-idjc/src/timing/libicetiming_la-timing.lo
libshout-idjc/src/timing/libicetiming_la-timing.o
libshout-idjc/src/util.lo
libshout-idjc/src/util.o
libshout-idjc/src/vorbis.lo
libshout-idjc/src/vorbis.o
libshout-idjc/stamp-h1
missing
py-compile
stamp-h1
config.h.in~
libshout-idjc/ltmain.sh
*.tar.gz
doc/*
m4/*
config.guess
config.rpath
config.sub
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/idjc.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.gmo
po/*~
