 body{
  margin:0;
  background-color:#444;
  font-family:"sans","verdana";
  text-align:center;
 }
 html{
  overflow-y:scroll;
 }
 h1.unshown{
  display:none;
  font-size:8pt;
 }
 h2{
  font-size:20pt;
  margin-top:8pt;
  margin-bottom:14pt;
 }
 h3{
  font-size:16pt;
 }
 p{
  font-size:10pt;
 }
 pre{
  margin:0px;
  padding:6px;
  border:1px inset;
  width:672px;
  overflow:auto;
 }
 pre.reduced{
  width:90%;
 }
 
 br.division{
  clear:both;
 }
 img.clickthrough{
  border-style:hidden;
  margin-top:14pt;
 }
 img.clickthrough-left{
  border-style:hidden;
  float:left;
  margin-right:9pt;
  margin-top:14pt;
 }
 img.clickthrough-right{
  border-style:hidden;
  float:right;
  margin-left:9pt;
  margin-top:14pt;
 }
 div.centered-contents {
   margin:0 auto;
   text-align:center
 }
 #dep-table{
  border:2px solid black;
 }
 #dep-table th{
  font-size:small;
  border:1px outset;
 }
 #dep-table td{
  font-size:small;
  border:1px solid lightgray;
 }
 #main-table{
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
  text-align:left;
  width:856px;
 }
 #main-table td{
  vertical-align:top
 }
 #left-sidebar{
  background-color:#ccc;
  color:#222;
  padding-left:7px;
 }
 #left-sidebar h3{
  padding-left:inherit;
 }
 #sidebar-menu{
  font-size:18px;
  padding-left:inherit;
  padding-top:3px;
  list-style-type:none;
 }
 #sidebar-menu ul{
  font-size:15px;
  padding-left:10px;
  
  list-style-type:none;
 }
 #sidebar-menu li{
  padding-top:4px;
 }
 #sidebar-menu ul li{
  padding-top:1px;
  padding-bottom:4px;
 }
 #sidebar-menu a{
  text-decoration:none;
  font-weight:normal;
  color:#C60;
 }
 #sidebar-menu a:hover{
  text-decoration:none;
  font-weight:bold;
  color:#F70;
 } 

 #top-titlebar{
  lwidth:700px;
  background-color:#ccc;
 }
 #top-titlebar h2{
  padding-left:10pt;
 }

 #signature{
  font-size:x-small;
 }
