p { font-family:"verdana"; font-size:12pt }
pre { font-family:"verdana"; font-size:13pt }
ul, dl { font-family:"tahoma"; font-size:13pt; background:#A0A0A0; margin-right:20pt; margin-left:20pt; margin-top:0pt; margin-bottom:0pt }
kbd { font-family:"courier"; font-size: 13pt }
h3 { font-family:"verdana"; font-size:17pt }
h1 { font-family:"verdana"; font-size:22pt; font-style:italic }
h4 { font-family:"verdana"; font-size:14pt }
table { font-family:"times new roman"; font-size:14pt; background:#A0A0A0 }
hr { margin-left:4pt; margin-right:4pt; margin-top:20pt; margin-bottom:15pt }
body { background:#FAFAF0 }

div#nifty { margin: 0 4%; background: #A0A0A0 }
b.rtop, b.rbottom{ display:block; background:#FAFAF0 }
b.rtop b, b.rbottom b{ display: block; height: 1px; overflow: hidden; background:#A0A0A0 }
b.r1{ margin: 0 5px }
b.r2{ margin: 0 3px }
b.r3{ margin: 0 2px }
b.r4{ margin: 0 1px; height: 2px }
